<a href="https://colab.research.google.com/github/YusufPutraBintangSatria/Analisis-Data-untuk-Meningkatkan-Penjualan-Produk-di-E-commerce-Amazon/blob/main/cleandata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

# File path for the uploaded dataset
# Assuming the file is in the current working directory
# If not, provide the correct path
file_path = 'AmazonSaleReport.csv'

try:
  # Load the dataset, handling potential encoding issues
  data = pd.read_csv(file_path, encoding='latin-1')

  # Display info and head of the DataFrame
  data_info = data.info()
  data_head = data.head()

  print(data_info)
  print(data_head)
except FileNotFoundError:
  print(f"Error: File '{file_path}' not found. Please upload the file or provide the correct path.")
except pd.errors.ParserError:
  print(f"Error: Could not parse the file '{file_path}'. Please check the file format.")
except Exception as e:
  print(f"An unexpected error occurred: {e}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90416 entries, 0 to 90415
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               90416 non-null  int64
 1   Order ID            90416 non-null  object
 2   Date                90415 non-null  object
 3   Status              90415 non-null  object
 4   Fulfilment          90415 non-null  object
 5   Sales Channel       90415 non-null  object
 6   ship-service-level  90415 non-null  object
 7   Style               90415 non-null  object
 8   SKU                 90415 non-null  object
 9   Category            90415 non-null  object
 10  Size                90415 non-null  object
 11  ASIN                90415 non-null  object
 12  Courier Status      85324 non-null  object
 13  Qty                 90415 non-null  float64
 14  currency            84960 non-null  object
 15  Amount              84960 non-null  float64
 16  ship-city           90390 non-null  object
 17  ship-state          90390 non-null  object
 18  ship-postal-code    90390 non-null  float64
 19  ship-country        90390 non-null  object
 20  promotion-ids       56822 non-null  object
 21  B2B                 90415 non-null  object
 22  fulfilled-by        29069 non-null  object
 23  Unnamed: 22         41365 non-null  object
dtypes: float64(3), int64(1), object(20)
memory usage: 16.6+ MB
None
   index             Order ID      Date                        Status  \
0      0  405-8078784-5731545  04-30-22                     Cancelled
1      1  171-9198151-1101146  04-30-22  Shipped - Delivered to Buyer
2      2  404-0687676-7273146  04-30-22                       Shipped
3      3  403-9615377-8133951  04-30-22                     Cancelled
4      4  407-1069790-7240320  04-30-22                       Shipped

  Fulfilment Sales Channel  ship-service-level    Style              SKU  \
0   Merchant      Amazon.in           Standard   SET389   SET389-KR-NP-S
1   Merchant      Amazon.in           Standard  JNE3781  JNE3781-KR-XXXL
2     Amazon      Amazon.in          Expedited  JNE3371    JNE3371-KR-XL
3   Merchant      Amazon.in           Standard    J0341       J0341-DR-L
4     Amazon      Amazon.in          Expedited  JNE3671  JNE3671-TU-XXXL

        Category  ... currency  Amount    ship-city   ship-state  \
0            Set  ...      INR  647.62       MUMBAI  MAHARASHTRA
1          kurta  ...      INR  406.00    BENGALURU    KARNATAKA
2          kurta  ...      INR  329.00  NAVI MUMBAI  MAHARASHTRA
3  Western Dress  ...      INR  753.33   PUDUCHERRY   PUDUCHERRY
4            Top  ...      INR  574.00      CHENNAI   TAMIL NADU

  ship-postal-code  ship-country  \
0         400081.0            IN
1         560085.0            IN
2         410210.0            IN
3         605008.0            IN
4         600073.0            IN

                                       promotion-ids    B2B  fulfilled-by  \
0                                                NaN  False     Easy Ship
1  Amazon PLCC Free-Financing Universal Merchant ...  False     Easy Ship
2       IN Core Free Shipping 2015/04/08 23-48-5-108   True           NaN
3                                                NaN  False     Easy Ship
4                                                NaN  False           NaN

  Unnamed: 22
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 24 columns]

<ipython-input-4-241ed50fe20e>:20: DtypeWarning: Columns (21,23) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, encoding='latin-1')

In [5]:
# Drop columns with too many missing values or irrelevant information
cleaned_data = data.drop(columns=['Unnamed: 22', 'fulfilled-by', 'promotion-ids'], errors='ignore')

# Convert 'Date' to datetime for potential temporal analysis
cleaned_data['Date'] = pd.to_datetime(cleaned_data['Date'], errors='coerce')

# Check missing values and drop rows with significant nulls in key columns
missing_values = cleaned_data.isnull().sum()
cleaned_data = cleaned_data.dropna(subset=['Amount', 'Qty', 'Date'])

# Display the structure of cleaned data and summary of missing values
cleaned_data_info = cleaned_data.info()
cleaned_data_head = cleaned_data.head()

cleaned_data_info, missing_values, cleaned_data_head

<ipython-input-5-ef1dcf23cbaf>:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  cleaned_data['Date'] = pd.to_datetime(cleaned_data['Date'], errors='coerce')

<class 'pandas.core.frame.DataFrame'>
Index: 84960 entries, 0 to 90414
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               84960 non-null  int64
 1   Order ID            84960 non-null  object
 2   Date                84960 non-null  datetime64[ns]
 3   Status              84960 non-null  object
 4   Fulfilment          84960 non-null  object
 5   Sales Channel       84960 non-null  object
 6   ship-service-level  84960 non-null  object
 7   Style               84960 non-null  object
 8   SKU                 84960 non-null  object
 9   Category            84960 non-null  object
 10  Size                84960 non-null  object
 11  ASIN                84960 non-null  object
 12  Courier Status      81138 non-null  object
 13  Qty                 84960 non-null  float64
 14  currency            84960 non-null  object
 15  Amount              84960 non-null  float64
 16  ship-city           84936 non-null  object
 17  ship-state          84936 non-null  object
 18  ship-postal-code    84936 non-null  float64
 19  ship-country        84936 non-null  object
 20  B2B                 84960 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(16)
memory usage: 14.3+ MB

(None,
 index                    0
 Order ID                 0
 Date                     1
 Status                   1
 Fulfilment               1
 Sales Channel            1
 ship-service-level       1
 Style                    1
 SKU                      1
 Category                 1
 Size                     1
 ASIN                     1
 Courier Status        5092
 Qty                      1
 currency              5456
 Amount                5456
 ship-city               26
 ship-state              26
 ship-postal-code        26
 ship-country            26
 B2B                      1
 dtype: int64,
    index             Order ID       Date                        Status  \
 0      0  405-8078784-5731545 2022-04-30                     Cancelled
 1      1  171-9198151-1101146 2022-04-30  Shipped - Delivered to Buyer
 2      2  404-0687676-7273146 2022-04-30                       Shipped
 3      3  403-9615377-8133951 2022-04-30                     Cancelled
 4      4  407-1069790-7240320 2022-04-30                       Shipped

   Fulfilment Sales Channel  ship-service-level    Style              SKU  \
 0   Merchant      Amazon.in           Standard   SET389   SET389-KR-NP-S
 1   Merchant      Amazon.in           Standard  JNE3781  JNE3781-KR-XXXL
 2     Amazon      Amazon.in          Expedited  JNE3371    JNE3371-KR-XL
 3   Merchant      Amazon.in           Standard    J0341       J0341-DR-L
 4     Amazon      Amazon.in          Expedited  JNE3671  JNE3671-TU-XXXL

         Category  ...        ASIN Courier Status  Qty  currency  Amount  \
 0            Set  ...  B09KXVBD7Z            NaN  0.0       INR  647.62
 1          kurta  ...  B09K3WFS32        Shipped  1.0       INR  406.00
 2          kurta  ...  B07WV4JV4D        Shipped  1.0       INR  329.00
 3  Western Dress  ...  B099NRCT7B            NaN  0.0       INR  753.33
 4            Top  ...  B098714BZP        Shipped  1.0       INR  574.00

      ship-city   ship-state ship-postal-code  ship-country    B2B
 0       MUMBAI  MAHARASHTRA         400081.0            IN  False
 1    BENGALURU    KARNATAKA         560085.0            IN  False
 2  NAVI MUMBAI  MAHARASHTRA         410210.0            IN   True
 3   PUDUCHERRY   PUDUCHERRY         605008.0            IN  False
 4      CHENNAI   TAMIL NADU         600073.0            IN  False

 [5 rows x 21 columns])

In [6]:
# prompt: save to csv

cleaned_data.to_csv('cleaned_amazon_sales.csv', index=False)